<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title ng-bind="title"><%= @title || "Billing" %></title>
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->
  <script type="text/javascript" charset="utf-8">
    navigator.locale = '<%= I18n.locale %>';
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="bg-dark dk" id="wrap">
      <div id="top">

        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <header class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#/" class="navbar-brand">
                <img src="assets/img/logo.png" alt="">
              </a> 
            </header>
            <div class="topnav">
              <div class="btn-group">
                <a href="<%= destroy_user_session_path %>" data-method="DELETE" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm">
                  <i class="fa fa-power-off"></i>
                </a> 
              </div>
              <div class="btn-group">
                <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                  <i class="fa fa-bars"></i>
                </a> 
                <a data-placement="bottom" data-original-title="Show / Hide Right" data-toggle="tooltip" class="btn btn-default btn-sm toggle-right"> <span class="glyphicon glyphicon-comment"></span>  </a> 
              </div>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <!-- .nav -->
              <ul class="nav navbar-nav">
                <li> <a href="#/"><%= t('dashboard') %></a>  </li>
                <li class='dropdown' dropdown>
                  <a href class="dropdown-toggle" dropdown-toggle>
                    <%= t('category') %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/category"><%= t('category_list') %></a></li>
                    <li><a href="#/category/new"><%= t('category_new') %></a></li>
                  </ul>
                </li>
                <li class='dropdown' dropdown>
                  <a href class="dropdown-toggle" dropdown-toggle>
                    <%= t('bill') %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/bill"><%= t('bill_billing') %></a></li>
                    <li><a href="#/bill/new"><%= t('bill_new') %></a></li>
                    <li class="divider"></li>
                    <li><a href="#/bill/chart"><%= t('bill_chart') %></a></li>
                  </ul>
                </li>
              </ul><!-- /.nav -->
            </div>
          </div><!-- /.container-fluid -->
        </nav><!-- /.navbar -->
        <header class="head">
          <div class="main-bar">
            <h3>
              <i class="fa fa-{{nav_icon}}"></i>&nbsp; {{title}}</h3>
          </div><!-- /.main-bar -->
        </header><!-- /.head -->
      </div><!-- /#top -->
      <div id="left">
        <!-- #menu -->
        <ul id="menu" class="bg-blue dker">
          <li class="nav-header"><%= t('menu') %></li>
          <li class="nav-divider"></li>
          <li class="">
            <a href="#/">
              <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;<%= t('dashboard') %></span>
            </a>
          </li>
          <li class="">
            <a href="javascript:;">
              <i class="fa fa-list"></i>
              <span class="link-title"><%= t('category') %></span>
              <span class="fa arrow"></span>
            </a>
            <ul>
              <li>
                <a href="#/category">
                  <i class="fa fa-angle-right"></i>&nbsp;<%= t('category_list') %></a> 
              </li>
              <li>
                <a href="#/category/new">
                  <i class="fa fa-angle-right"></i>&nbsp;<%= t('category_new') %></a> 
              </li>
            </ul>
          </li>
          <li class="">
            <a href="javascript:;">
              <i class="fa fa-credit-card"></i>
              <span class="link-title"><%= t('bill') %></span>
              <span class="fa arrow"></span>
            </a> 
            <ul>
              <li>
                <a href="#/bill">
                  <i class="fa fa-angle-right"></i>&nbsp;<%= t('bill_billing') %></a> 
              </li>
              <li>
                <a href="#/bill/new">
                  <i class="fa fa-angle-right"></i>&nbsp;<%= t('bill_new') %></a> 
              </li>
              <li>
                <a href="#/bill/chart">
                  <i class="fa fa-angle-right"></i>&nbsp;<%= t('bill_chart') %></a> 
              </li>
            </ul>
          </li>
        </ul><!-- /#menu -->
      </div><!-- /#left -->
      <div id="content">
        <div class="outer">
          <div class="inner bg-light lter">
            <div class="col-lg-12 main-content">
              <flash:messages></flash:messages>
              <div ng-view></div>
              <%= yield %>
            </div>
          </div><!-- /.inner -->
        </div><!-- /.outer -->
      </div><!-- /#content -->

    </div><!-- /#wrap -->
    <footer class="Footer bg-dark dker">
      <p>2014 &copy; Metis Bootstrap Admin Template</p>
    </footer><!-- /#footer -->

    <!-- #helpModal -->
    <div id="helpModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --><!-- /#helpModal -->
</body>
</html>
